.home-banner {
    height: 100vh;
    padding: 0px 80px;
    background: url('https://i.ibb.co/mTk85Km/banner.jpg') no-repeat center fixed;
    background-size: cover;
}

.banner-title {
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 10px  rgb(255, 174, 0);
    padding-top: 250px;
    font-size: 3.5rem;
    font-weight: bold;
}

.btn-explore {
    padding: 5px 20px;
    font-size: 1.2rem;
    font-weight: 600;
    background: transparent;
    color: rgb(255, 187, 0);
    border: 2px solid rgb(255, 174, 0);
}

.btn-explore:hover {
    color: rgb(255, 245, 224);
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 4px 0px rgb(255, 174, 0);
    text-shadow: 0px 0px 8px rgb(255, 174, 0);
}



@media only screen and (max-width:688px) {
    .home-banner {
        padding: 0px 20px;
    }
    .banner-title {
        padding-top: 250px;
        font-size: 3rem;
    }
}